a{
    text-decoration: none;
    color: lightblue;
}
/* 240 */
@media all and (min-width : 240px) {
    .header{
        width: 100%;
        position: fixed;
        text-transform: uppercase;
        

    }
    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        /* width: 90%;
        margin: 0 auto; */
        height: 72px;
        padding: 10px;
        background-image: url(../img/header_background.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
    }
/* Burger */
    .navbar__burger{
        width: 50px;
        height: 50px;
        border: 1px solid lightslategrey;
        cursor: pointer;
        /* background-color: rgb(243, 230, 230); */
        overflow: hidden;
        border-radius: 3px;
        /* transition: all 600ms; */

    }
    .navbar__line{
        display: block;
        position: relative;
        height: 5px;
        width: 40px;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
        background-color: black;
        transition: all 700ms;
    }
    .navbar__line02{
        display: block;
        position: relative;
        height: 5px;
        width: 40px;
        top: 39%;
        transform: translateY(-50%);
        left: 5px;
        background-color: black;
        z-index: 2;
        transition: all 700ms;
        
    }
    .navbar__line::before,.navbar__line::after {
        content: "";
        width: 100%;
        height: 5px;
        background-color: black;
        position: absolute;
    }

    .navbar__line::before{
        top: -10px;
    }
    .navbar__line::after {
        top: 10px;
    }

    .active .navbar__line{
        transform: rotate(-45deg);
    }
    .active .navbar__line02{
        transform: rotate(45deg);
    }

    .active .navbar__line::before, .active .navbar__line::after{
        opacity: 0;
    }
    
/*  */


    .navbar__logo{
        width: 50px;
        height: 50px;
        background-image: url(../img/header_logo.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    

    .menu{
        /* top: 42%; */
        top: -500px;
        position: absolute;
        width: 100%;
        z-index: -2;
        background-image: url(../img/menu_background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        transition: all 400ms;
    }
    .active{
        top: 92px;
    }
    .menu__list{
        
    }
    .menu__item{
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid black;
        height: 75px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
    }
    .menu__link{
        display: inline-block;
    }
    .navbar__lupefield{
        width: 100px;
    }
    
    .navbar__search{
        width: 35px;
        height: 35px;
        background-image: url(../img/Lupe.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .navbar__input{
        display: block;
        width: 100px;
        height: 35px;
    }

    .hide{
        display: none;
    }

    /* Modal SingIn Registration */
    .modal{
        position: fixed;
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        background-image: url(../img/modal_background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        bottom: -100%;
        transition: all 1000ms;

    }

    .modal--active{
        bottom: 0;
    }

    .modal__items{
        width: 80%;
        /* height: 300px; */
        margin: 0 10%;
        background-color: aliceblue;
        border-radius: 10px;
        opacity: 1;
    }

    .modal__sing-in{
        margin: 30px auto;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .modal__input{
        /* display: inline-block; */
        border-top: none;
        border-left: none;
        border-right: none;
        height: 50px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        padding: 0 10px;
    }
    
    .modal__button{
        height: 40px;
        margin-top: 7px;
        /* margin-bottom: 20px; */
        background-color: rgb(9, 192, 79);
        color: #ffff;
        font-size: 20px;
        border: none;
        cursor: pointer;
    }

    .red{
        background-color: rgb(202, 53, 103);
    }
    .orange{
        background-color: rgb(179, 105, 20);
    }
    .modal__cross{
        /* background-image: url(../img/cross_red.png);
        height: 50px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 15px;
        width: 30px;
        height: 30px;
        overflow: hidden;
        margin: auto; */
        
        
    }



}
/* 640-959 */
@media (min-width:640px) and (max-width: 959px) {
    body{
        background-color: lavender;
    }
}
/* 960-1199 */
@media (min-width:960px) and (max-width: 1199px) {
    body{
        background-color: red;
    }
}
/* 1200px */
@media (min-width:1200px) {
    body{
        background-color: yellow;
    }
}